.job-detail-main {
    margin-top: 4rem;
    margin-left: 5rem;
    padding: 1rem 1.5rem;
}

.detail-boxes{
    margin-top: 1rem;
    display: flex;
    background-color: #f8f9f9;
    padding: 1rem;
    border: solid 1px #0003;
    border-radius: 0.25rem;
}

.detail-boxes .fees-box{
    width: 50%;
    border-left: solid 1px #0003;
    padding-left: 1rem;
}

.detail-boxes h3{
    text-align: center;
    margin-bottom: 1rem;
}

.fees-box .fees-detail {
    display: flex;
}

.detail-boxes .dates-box {
    width: 50%;
    border-right: solid 1px #0003;
}